*.gem
*.rbc
.bundle/*
!.bundle/config
.config
.DS_Store
coverage
coverage.data
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
.rspec_status
test/tmp
test/version_tmp
tmp

# bundler
vendor/

# YARD artifacts
.yardoc
_yardoc
doc/

# tmp-old
.old

# editor
*~
.redcar

# other
*.lock
*.bak
tool/
*\#*

!flake.lock
.direnv
